@model Fiap.Apostila03.MVC.Web.Models.Usuario
@{
    ViewBag.Title = "Resultado";
}

<h2>Resultado</h2>
<p>@TempData["msg"]</p>

<h3>Olá @Model.Nome, Bem Vindo!</h3>
<h4>Você tem @Model.Idade anos.</h4>
<h5>E-mail: @Model.Email</h5>

